<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Salida de Inventario</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/dashboard/">Projecto</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Mi perfil</a>
                    </li>
                    {% if role_id == 1 %}
                        <li class="nav-item">
                            <a class="nav-link" href="/user-administration/">Usuarios</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Productos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/control_products/">Administrar</a>
                              <a class="dropdown-item" href="/new_inventory/">Registrar Entrada</a>
                              <a class="dropdown-item" href="/sales/">Registrar Salida</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/inventory_information/">Consulta General</a>
                            </div>
                        </li>
                    {% elif role_id == 3 %}
                        <li class="nav-item">
                            <a class="nav-link" href="/sales/">Productos</a>
                        </li>
                    {% endif %}
                </ul>
                <span class="navbar-text ms-auto">Inventario</span>
                <a href="/login" class="btn btn-outline-danger">Logout</a>
            </div>
        </nav>  
                  
    </header>
    <div class="container">
        <h2>Stock</h2>
        <table id="inventory-table" class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Producto</th>
              <th>Stock</th>
            </tr>
          </thead>
          <tbody id="inventory">
          </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function fetchData() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/inventory_consult_data/', true); 
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var data = JSON.parse(xhr.responseText);
                    populateTable(data);
                }
            };
            xhr.send();
        }
        function populateTable(data) {
            populateInventory(data.inventory);
        }
        function populateInventory(entries) {
            var tableBody = document.getElementById('inventory');
            entries.forEach(function(entry) {
                var newRow = tableBody.insertRow(tableBody.rows.length);
                newRow.insertCell(0).appendChild(document.createTextNode(entry.name));
                newRow.insertCell(1).appendChild(document.createTextNode(entry.stock));
            });
        }
        window.onload = function() {
            fetchData();
        };
    </script>
</body>
</html>
